<div class="container" >
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom:15px">
  <a class="navbar-brand">OpenLegacy</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03" >
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/stack">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-item">Add item</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/deposit-withdrawal">Deposit/Withdrawal</a>
      </li>
    </ul>
  </div>
</nav>
</div>
